@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-shadow-calendar {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  .font-questrial {
    font-family: var(--font-questrial), sans-serif;
  }

  .font-anton {
    font-family: var(--font-anton), sans-serif;
  }

  .font-lato {
    font-family: var(--font-lato), sans-serif;
  }

  .font-cormorant-garamond {
    font-family: var(--font-cormorant-garamond), serif;
  }

  .font-libre-baskerville {
    font-family: var(--font-libre-baskerville), serif;
  }
}
